
<!-- ======= Top Bar ======= -->
 <section class="topbar">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="fa fa-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
      <i class="fa fa-phone"></i> +1 5589 55488 55
      <i class="fa fa-google-map"></i> A108 Adam Street, NY
    </div>
    <div class="social-links">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-skype"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</section>

<section class="header sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">Medilab</a>
          <button class="header-toogle-button navbar-toggler" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <a data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
              <i class="fa fa-bars" ></i>
            </a>
          </button>
          <div class="offcanvas offcanvas-start" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Medilab</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="navbar-nav">
                <a class="nav-link" routerLink="/"><span class="underline"></span>Home</a>
                <a class="nav-link" href="#about"><span class="underline"></span>About</a>
                <a class="nav-link" href="#services"><span class="underline"></span>Services</a>
                <a class="nav-link" href="#appointment"><span class="underline"></span>Appointment</a>
                <a class="nav-link" href="#departments"><span class="underline"></span>Departments</a>
                <a class="nav-link" href="#gallery"><span class="underline"></span>Gallery</a>
                <a class="nav-link" href="#contact"><span class="underline"></span>Contact us</a>
                <a class="nav-link" routerLink="/register"><span class="underline"></span>Register</a>
              </div>
            </div>
          </div>
      </nav>
    </div>
</section>


